<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Coaching Assignments
  </div>

  <ul class="list-group list-group-flush">
    <% @user.coaching_assignments.each do |improvement_plan| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/improvement_plans/<%= improvement_plan.id %>">
          <%= improvement_plan.state %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
