<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Coach Assignments

    <a data-toggle="collapse" href="#user_coach_assignments_new_form">
      Add coach assignment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.coach_assignments.each do |coach_assignment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/coach_assignments/<%= coach_assignment.id %>">
          <%= coach_assignment.user_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
