<!-- Form coach_assignment start -->
<form action="/create_coach_assignment_from_improvement_plan" method="post">
<!-- Form coach_assignment end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @coach_assignment.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for improvement_id start -->
  <!-- Input for improvement_id start -->
  <input type="hidden" name="improvement_id" value="<%= @improvement_plan.id %>">
  <!-- Input for improvement_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create coach assignment
  </button>
</form>
