<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Coaches

    <a data-toggle="collapse" href="#improvement_plan_coaches_new_form">
      Add coach assignment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @improvement_plan.coaches.each do |coach_assignment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/coach_assignments/<%= coach_assignment.id %>">
          <%= coach_assignment.user_id %>
        </a>

        <a href="/delete_coach_assignment_from_improvement/<%= coach_assignment.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="improvement_plan_coaches_new_form">
        <%= render partial: "improvement_plan_templates/improvement_plan_coaches_new_form" %>
      </div>
    </div>

  </ul>
</div>
