<form action="/create_goal_from_improvement_plan" method="post">

  <input type="hidden" name="improvement_plan_id" value="<%= @improvement_plan.id %>">

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <textarea id="comments" name="comments" class="form-control" rows="3"><%= @goal.comments %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create goal
  </button>
</form>
