<h1>
  Add a new improvement plan
</h1>


<hr>

<form action="/create_improvement_plan" method="post">

  <div class="form-group">
    <label for="state">
      State
    </label>

    <input type="text" id="state" name="state" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <textarea id="comments" name="comments" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <input type="text" id="coach_id" name="coach_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create improvement plan
  </button>
</form>

<hr>

<a href="/improvement_plans">
  Go back
</a>
