<h1>
  Add a new coach assignment
</h1>


<hr>

<form action="/create_coach_assignment" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @coach_assignment.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="improvement_id">
      Improvement
    </label>

    <%= select_tag(:improvement_id, options_from_collection_for_select(ImprovementPlan.all, :id, :state, @coach_assignment.improvement_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create coach assignment
  </button>
</form>

<hr>

<a href="/coach_assignments">
  Go back
</a>
