<h1>
  Edit goal #<%= @goal.id %>
</h1>

<hr>

<form action="/update_goal/<%= @goal.id %>" method="post">

  <div class="form-group">
    <label for="improvement_plan_id">
      Improvement plan
    </label>

    <%= select_tag(:improvement_plan_id, options_from_collection_for_select(ImprovementPlan.all, :id, :state, @goal.improvement_plan_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <textarea id="comments" name="comments" class="form-control" rows="3"><%= @goal.comments %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update goal
  </button>
</form>

<hr>

<a href="/goals">
  Go back
</a>
